@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.5rem;
        --silver: 263, 5%, 48%;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
        --silver: 263, 5%, 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

:root {
    /* variables */
    --white: #f7f8f9;
    --black: #131314;
    --green: #13ce66;
    --salmon: #fe346e;
    --salmonhover: #cc2957;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

html {
    background-color: var(--white);
}

html.dark {
    background-color: var(--black);
}

h1 {
    font-size: 3.375rem;
    font-weight: 600;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: normal;
}

h3,
h4,
h5,
h6 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
}

p {
    font-size: 1rem;
}

.logo-text {
    font-family: "Grenze Gotisch", serif;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Sign Up Link */
.cl-internal-15amzqo {
    color: var(--salmon);
}

.cl-internal-15amzqo:hover {
    color: var(--salmonhover);
}

/* Continue Button and Side Tag */
.cl-internal-1fsg6zy,
.cl-internal-b3fm6y {
    background-color: var(--salmon);
}

.cl-internal-1fsg6zy:hover {
    background-color: var(--salmonhover);
}
